$resource.getString("label.dear") ${username},

$resource.getString("password.reset.email.content.new") $resource.getString("password.reset.your.password.new")

${resetUrl}

$resource.getString("password.reset.email.note.new")

$resource.getString("password.reset.email.please.note")

$resource.getString("password.reset.wishes")

$resource.getString("password.reset.customer.support")
$resource.getString("password.reset.oup")
