<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="SMTPFILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="C:\\temp\\smtp.log" />
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        </layout>
    </appender>
	
	<appender name="SMTP" class="org.apache.log4j.net.MySmtpAppender">		
		<param name="Threshold" value="ERROR" />
		<param name="To" value="eacdevadmin@oup.com" />
		<param name="From" value="eacdev@oup.com" />
		<param name="Subject" value="JBoss Server Errors" />
		<param name="SMTPHost" value="localhost" />
		<param name="BufferSize" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
      	<filter class="com.oup.eac.log4j.BurstFilter">
        	<param name="numberOfEvents" value="100" />
        	<param name="timeWindowMs" value="60000" />
      	</filter>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="TRACE" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.log4j.net.MySmtpAppender" additivity="false">
  		<level value="ALL"/>
  		<appender-ref ref="SMTPFILE" />
	</logger>
	
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="SMTP" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
